.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* first and last buttons */
  .nav-buttons {
    display: flex;
    gap: 5px;
  
  }
  
  .nav-buttons a {
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    /*background-color: var(--pine);*/
    color: var(--text);
    font-size: 16px;
    text-decoration: none;
  }
  
  .nav-buttons a svg {
    height: 20px;
  }
  
  .product-section {
    margin-bottom: 40px;
  }
  
  .product-section h2 {
    margin-bottom: 20px;
    color: var(--text);
  }
  
  .product-row {
    display: flex;
    overflow-x: auto;
    scrollbar-width: thin; 
    scrollbar-color: var(--overlay) var(--surface); 
  }
  
  .product-card {
    background-color: var(--overlay);
    border: 2px solid var(--muted);
    border-radius: 12px;
    /*padding: 20px;*/
    margin: 10px;
    text-align: left;
    color: var(--text);
    min-width: 18%;
    max-width: 18%;
    flex: 0 0 auto;
  }

  .product-card a {
    text-decoration: none;
    color: var(--text);
  }

  .product-card a img {
    width: 100%;
    border-radius: 12px 12px 0px 0px;
    border-bottom: 2px solid var(--muted);
    margin-bottom: 10px;
    margin: 0px;
    height: 250px;
    object-fit: scale-down;
    background-color: #FFF;
  }

  .product-card a .blog {
    width: 100%;
    border-radius: 12px 12px 0px 0px;
    border-bottom: 2px solid var(--muted);
    margin-bottom: 10px;
    margin: 0px;
    height: 150px !important;
    object-fit: cover !important;
  }

  .product-card a h3 {
    padding: 0px 10px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .product-card a h4 {
    margin: 0px;
    padding: 0px 10px;
    padding-bottom: 20px;
    font-weight: normal;
    color: var(--muted);
  }
  
  .product-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    padding-bottom: 20px;
  }
  
  .product-card p {
    margin-bottom: 10px;
  }
  
  .product-card button {
    padding: 10px 20px;
    margin-top: 5px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    background-color: #F0000000;
    color: var(--base);
    font-size: 16px;
  }
  
  .brand-logo {
    max-width: 18%;
    height: 100px;
    fill: #FFF;
  }
  
  .brand-logo a img{
    fill: #FFF;
    border: none;
    object-fit: scale-down;
    background-color: #F0000000;
    height: 100px;
  }

  .brand-logo a svg{
    max-height: 100px;;
    width: 80%;
    fill: #FFF;
    border: none;
    object-fit: scale-down;
    background-color: #F0000000;
  }

  a .show-more {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    border: 2px solid var(--muted);
    border-radius: 12px;
    cursor: pointer;
    background-color: var(--overlay);
    color: var(--text);
    font-size: 16px;
  }

