/* first page */
.info {
  height: 1080px;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: contain !important;
}

.learnMore {
  cursor: pointer;
  border-radius: 50px;
  background-color: #c4a7e7;
  border: 0px;
  height: 50px;
  width: 300px;
  text-decoration: none;
}

.learnMore:hover {
  background-color: #907aa9;
}

/* tabs */
.tab1 {
  background-repeat: no-repeat;
  background-size: cover;
}

.tab3 {
  background-color: #000;
  background-size: contain;
  background-repeat: no-repeat;
}

.shadow {
  width: 100%;
  height: 100%;
  background: linear-gradient(to left,#000 35%,#00000000 100%);
}
/* last page text */
.text {
  color: #FFF;
  font-size: 25px;
  position: absolute;
  margin-left: 60%;
  margin-right: 5%;
  margin-top: 5%;
}

.text1 {
  color: #FFF;
  font-size: 25px;
  position: absolute;
  margin-right: 60%;
  margin-left: 5%;
  margin-top: 5%;
}

li {
  list-style-type: none;
}

/* header */
header {
  position: fixed;
  height: 100px;
  width: 100%;
  margin-top: 0;
  z-index: 1;
}

.headerSoc {
  height: 100px;
  position: fixed;
  right: 0;
  padding-top: 0;
  padding-right: 30px;
}

.headerSoc ul li {
  display: inline-block;
  list-style-type: none;
}

.headerLogo ul li {
  display: inline-block;
  list-style-type: none;
  padding-top: 5px;
  padding-left: 55px;
}

.headerSoc ul li h1 {
  color: #FFF;
  padding-left: 25px;
}

.homeButton {
  width: 260px; 
  font-size: 40px; 
  margin: 0;
  text-decoration: none;
  color: #FFF;
}

/* main */
.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

table {
  color: #FFF;
  width: 60vw;
}

.album {
  height: 600px;
}

.albumInfo {
  text-align: center;
}

.albumInfo ul li a {
  text-decoration: none;
  color: #FFF;
  font-weight: 700;
  vertical-align: top;
}

.albumHr {
  width: 50%;
  color: #FFF;
}

/* dicography */
.horizontalScroll {
  display: flex;
  overflow-x: auto;
  width: 100%;
  align-items: center;
}

.discographyAlbumCover {
  height: 600px;
  width: 600px;
  margin-right: 50px;
}

/* Drop down menu  */
.dropDown {
  width : 500px;
  position: fixed;
  left: 0;
  top: 0;
}

.sbaricon {
  width: 500px;
}

span {
  padding: 30px;
  cursor: pointer;
  display: block;
}

span::after {
  float: right;
  right: 10%;
}

.slide {
  clear:both;
  width:100%;
  height:0px;
  overflow: hidden;
  text-align: left;
  transition: height .4s ease;
}

.slide li {padding : 30px;}

#touch {position: absolute; opacity: 0; height: 0px;}    

#touch:checked + .slide {height: 500px;}

/* main functionality */
html, body, section {
  block-size: 100%;
}

html {
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: flex;
}

body {
  margin: 0;
  font-family:'Roboto', sans-serif !important;
  background-color: #000;
/*  font-size: 4rem; */
}

/* link animation */
.fancyLink {
	position: relative;
	transition: color .3s ease-in-out;
	
	&::before {
		content: '';
		position: absolute;
		top: 100%;
		width: 100%;
		height: 3px;
		background-color: #FFF;
		transform: scaleX(0);
		transition: transform .3s ease-in-out;
	}
	
	&:hover {
		color: #FFF;
	}
	
	&:hover::before {
		transform: scaleX(1);
	}	
}

/* colors at hover soc */
#fb {color: #FFF;}
#fb:hover {color: #4267B2;}
#tw {color: #FFF; padding-left: 25px;}
#tw:hover {color: #1DA1F2; padding-left: 25px;}
#ig {color: #FFF; padding-left: 25px;}
#ig:hover {
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#yt {color: #FFF; padding-left: 25px;}
#yt:hover {color: #FF0000; padding-left: 25px;}
#sp {color: #FFF; padding-left: 25px;}
#sp:hover {color: #1DB954; padding-left: 25px;}

/* scroll bar */
/* Firefox */
html {
  scrollbar-width: auto;
  scrollbar-color: #424242 #ffffff00;
}
/* Chromium */
html::-webkit-scrollbar {
  width: 2px;
}
html::-webkit-scrollbar-track {
  background: #ffffff00;
}
html::-webkit-scrollbar-thumb {
  background-color: #424242;
  border-radius: 2px;
}