/* shell */
.tab1 {
  background-image: url("Emo Quartet - semestralní práce/media/mcr-bg.png");
  background-color: #F00;
}

.tab2 {
  background-color: #000;
}

.tab3 {
  background-color: #FFF;
}


















































































/* main functionality */
html, body, section {
  block-size: 100%;
}

html {
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  font-size: 4rem;
}

/* colors at hover soc */
#fb {color: #FFF;}
#fb:hover {color: #4267B2;}
#tw {color: #FFF; padding-left: 25px;}
#tw:hover {color: #1DA1F2; padding-left: 25px;}
#ig {color: #FFF; padding-left: 25px;}
#ig:hover {color: #833AB4; padding-left: 25px;}
#yt {color: #FFF; padding-left: 25px;}
#yt:hover {color: #FF0000; padding-left: 25px;}
#sp {color: #FFF; padding-left: 25px;}
#sp:hover {color: #1DB954; padding-left: 25px;}